<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="snappdating.app" versionCode="10" version="1.0.0">

    <!-- General App info and setup -->
    <name>Snapp Dating</name>

    <description>
        Fast paced dating, based on science.
    </description>

    <author href="https://snapp.dating" email="info@snapp.dating">
        Snapp Dating
    </author>

    <icon src="icon.png" />

    <!-- Platforms to build into -->
    <gap:platform name="android" />

    <!-- Preferences -->
    <preference name="fullscreen" value="true" />

    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.7" />
    <gap:plugin name="hu.dpal.phonegap.plugins.spinnerdialog" version="0.1.5" />

</widget>
